.tab-container{
    display: flex;
}
.tab{
    padding: 10px;
    cursor: pointer;
    border:1px solid #ccc;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    background-color: #f0f0f0;
}
.tab-content{
    display: none; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px ;
}
.tab-content.active{
    display: block;
}